body, html{
	margin: 0px;
	padding: 0px;
}

.title {
	color: #696969;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 2;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.name{
	color: #696969;
	font-family: sans-serif;
	font-size: 14;
}
.artist{
	padding: 7px;
}

.under{
	color: #bdbdbd;
	font-family: sans-serif;
	font-size: 12;
}
.divider{
	border-top: 1px solid #696969;
	border-bottom: 1px solid #696969;
	color: #696969;
	padding: 7px;
	font-family: sans-serif;
}
