 /* BODY AND HTML FIXER */
body, html{
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    outline: none;
    min-width: 300px;
    user-select: none;
}

body::-webkit-scrollbar{
    display: none;
}

/* HEADER CONTAINER */
header.Client-Header-Container{
    width: 100%;
    display: inline-block;
    background: #ffffff;
    border-bottom: 1px solid #ececec;
    padding-top: 20px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    z-index: 2;
}

/* PAGE CONTAINER */
div.Client-Page-Container{
    height: auto;
    padding: 5px;
    padding-bottom: 150px;
}

/* HOME PAGE  */
div.Client-Container{
    height: auto;
}

div.Home-Sponsored-Container{
    padding: 5px;
    padding-bottom: 10px;
}

/* SPONSORED CONTAINER */
div.Client-Home-Container div.Home-Sponsored-Container{
    padding: 5px;
}

div.Home-Sponsored-Container div.Sponsored-Text-Container{
    position: relative;
    top: 5px;
    left: 5px;
    height: 0px;    
}

div.Sponsored-Text-Container b.Sponsored-Artist-Text{
    display: block;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 31px;
    height: 30px;
    text-shadow: 0px 0px 4px #000000d6;
}

div.Sponsored-Text-Container b.Sponsored-Song-Text{
    display: block;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding-left: 10px;
    text-shadow: 0px 0px 4px #000000d6;
}

div.Home-Sponsored-Container div.Sponsored-ViewMore{
    height: 0px;
    position: relative;
    bottom: 20px;
    padding-right: 10px;
}

div.Home-Sponsored-Container div.Sponsored-Circles{
    height: 0px;
    position: relative;
    bottom: 15px;
    padding-right: 10px;
    width: 50px;
    margin: auto;
}

div.Sponsored-Circles div.Circle_{
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background: #bdbdbd;
    margin: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 10px #000000;
}

div.Sponsored-Circles div._Selected{
    background: #ffffff;
    box-shadow: 0px 0px 10px #ffffff;
}

div.Sponsored-Artist-IMG{
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000080;
    background-position: center;
}

div.Sponsored-ViewMore b.ViewMore{
    display: block;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 12px;
    float: right;
    border-radius: 5px;
    text-shadow: 0px 0px 4px #000000d6;
}

/* RECOMMENDED ALBUMS */
div.Recommended-Artist-Container div.Recommended-Artists-Container{
    display: block;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

div.Recommended-Artists-Container::-webkit-scrollbar{
    display: none;
}

div.Client-Home-Container div div.Title-Container{
    padding: 5px;
}

div.Client-Home-Container div div b.TextStyle-Title{
    font-family: sans-serif;
    font-weight: 600;
    color: #262626;
    display: block;
}

div.Client-Home-Container div div b.TextStyle-BigTitle{
    font-family: sans-serif;
    font-weight: 600;
    color: #262626;
    display: block;
}

div.Recommended-Artist{
    display: inline-block;
    margin-left: 5px;
}

div.Recommended-Artist div.Artist-IMG{
    background-size: cover;
    width: 46px;
    height: 46px;
    border-radius: 50px;
    background-position: center;
    box-shadow: 0px 0px 10px #00000052;
}

/* Recommended SONGS */
div.Recommended-Songs-Container{
    padding: 10px;
}



div.Recommended-Songs-Container div.Recommended-Song div.Song-IMG{
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #00000080;
    background-position: center;
}

div.Recommended-Songs-Container div div{
    float: left;
    margin-top: 1px;
}

div.Recommended-Songs-Container div.Recommended-Song {
    height: 50px;
    margin-bottom: 10px;
}

.Recommended-Song:hover {
    cursor: pointer;
    background: #eee;
}

div.Recommended-Songs-Container div.Song-Information{
    padding-left: 10px;
    padding-top: 4px;
    display: inline-block;
}

div.Recommended-Songs-Container div.Song-Information b{
    display: block;
    font-family: sans-serif;
}

div.Song-Information b.Song-Name{
    font-size: 14px;
    color: #343434;
}

div.Song-Information b.Song-Artist{
    font-size: 11px;
    color: #161616;
    font-weight: 600;
}

div.Song-Information b.Song-Trending{
    font-size: 10px;
    color: #E91E63;
    font-weight: 600;
}

div.Song-Data div img{
    width: 12px;
    height: 10px;
    padding-top: 2px;
    float: left;
}

div.Song-Data div.Replay img{
    width: 15px;
}

div.Song-Data div{
    margin-right: 5px;
}

div.Song-Data div b.Song-Liked-Amount{
    float: left;
    font-size: 11px;
    padding-left: 3px;
    padding-top: 1px;
    color: #ff3a3a;
}

div.Song-Data div b.Song-Replay-Amount{
    float: left;
    font-size: 11px;
    padding-left: 3px;
    padding-top: 1px;
    color: #169b1b;
}

/* SEARCH CONTAINER */
div.Search-Bar-Container{
    display: block;
    padding: 10px;
    background: #ffffff;
    position: fixed;
    width: 93%;
    top: 0px;
}

div.Search-Bar-Container input.Search-Input{
    width: 95%;
    height: 100%;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 10px;
    outline: none;
    font-size: 13px;
    color: #5f5f5f;
    font-weight: 500;
}


/* CURRENTLY PLAYING CONTAINER */
div.Client-Currently-Playing{
    width: 100%;
    display: inline-block;
    background: #ffffff;
    border-top: 1px solid #e8e8e8;
    position: fixed;
    z-index: 3;
    bottom: 75px;
    height: 60px;
    left: 0px;
}

div.Client-Currently-Playing div.Currently-Playing-Container{
    padding: 5px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
}

div.Client-Currently-Playing div div{
    float: left;
}

div.Client-Currently-Playing div div.Song-Information{
    padding-left: 10px;
    padding-top: 4px;
    display: inline-block;
}

div.Client-Currently-Playing div div.Song-Information b{
    display: block;
    font-family: sans-serif;
}

div.Client-Currently-Playing div div.Song-Information b.Song-Playing{
    font-size: 9px;
    color: #696969;
}

div.Client-Currently-Playing div div.Song-IMG{
    background-size: cover;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    background-position: center;
    box-shadow: 0px 0px 10px #00000080;
    border: 1px solid #d4d4d4;
}

div.Client-Currently-Playing div div.Song-Options{
    float: right;
    padding-right: 20px;
    padding-top: 5px;
    display: inline-block;
}

div.Client-Currently-Playing div div.Song-Options a{
   text-decoration: none;
}

div.Client-Currently-Playing div div.Song-Options a i{
   text-decoration: none;
   font-size: 28px;
   color: #626262;
}

div.Client-Currently-Playing div.Song-Options a.Action{
    padding-top: 10px;
}

div.Client-Currently-Playing div.Song-Options a.Action i{
    font-size: 32px;
    color: #535353;
    background-position: center;
}

/* FOOTER CONTAINER */
footer.Client-Footer-Container{
    width: 100%;
    display: inline-block;
    background: #ffffff;
    padding-top: 25px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    height: 40px;
    left: 0px;
    border-top: 1px solid #dfdfdf;
}

footer.Client-Footer-Container div.Footer-Options-Container{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

footer.Client-Footer-Container div.Footer-Options-Container a.Footer-Option{
    width: 30%;
    height: 100%;
    padding: 20px;
    text-decoration: none;
}

div.Footer-Options-Container a.Footer-Option i{   
    text-decoration: none;  
    font-size: 25px;  
    color: #545454;
}

div.Footer-Options-Container a.Footer-Option i.Search-Option{
    font-size: 30px;
}

/* SEARCH CSS */
div.Search-Result-Container{
    padding-top: 60px;
}


/* LOGIN */
div.Login-Body{
    height: 100%;
    width: 100%;
}

img.MB-LOGO-IMG {
    height: auto;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.MB-TXT-IMG {
    height: auto;
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

img.ZAUDIO-IMG {
    height: auto;
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-bottom: 20px;
}

button.Login-Button {
    background-color: #159b25;
    color: #ffffff;
    border-radius: 50px;
    height: 50px;
    width: 50%;
    font-size: 20px;
    font-family: sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}


div.Title-Container{
    display: block;
    padding: 5px;
}

div.Title-Container b.TextStyle-Title{   
    font-family: sans-serif;   
    color: #1f1f1f;
}